<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-06-03T07:32:27Z</date>
	<key>WorkspacePath</key>
	<string>/Users/gimhanbich/Desktop/iOS-class/project/project-1871072/project-1871072.xcodeproj</string>
</dict>
</plist>
